.chat-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 20px;
}

.font-normal {
  font-family: 'JetBrains Mono', monospace !important;
}

.font-game {
  font-family: 'Arcade Rounded' !important;
  font-size: 10px;
}



.chat-messages {
  background-color: rgba(255, 255, 255, 0.6);
  border-radius: 16px;
  padding: 16px;
  overflow-y: auto;
  margin-bottom: 20px;
  position: relative;
  transition: height 1s ease;
}

@media (max-width: 767px) {
  .chat-messages {
    height: 60vh;
    width: 80vw;
  }
  
  /* .chat-messages.game {
    height: 20vh;
  } */
}

@media (min-width: 768px) {
  .chat-messages {
    height: 60vh;
    width: 20vw;
  }
  
  /* .chat-messages.game {
    height: 20vh;
  } */
}


.message {
  background-color: #e1ffc7;
  border-radius: 16px;
  color: #333;
  padding: 8px 16px;
  margin-bottom: 15px;
  display: block;
  /* max-width: 50%; */
  word-wrap: break-word;
  clear: both;
  font-size: smaller;
  max-width: 70%;
}

.message.left {
  background-color: #eeeeee;
  text-align: left;
  float: left;
}

.message.right {
  background-color: #e1ffc7;
  text-align: right;
  float: right;
}

.chat-options {
  display: flex;
}

.animate-message {
  /* opacity: 0; */
  animation: typing 1.5s steps(30, end);
  white-space: nowrap;
  overflow: hidden;
}

@keyframes typing {
  from {
    width: 0;
  }
  to {
    width: 100%;
  }
}

.option {
  align-items: center;
  appearance: none;
  background-color: #FCFCFD;
  border-radius: 35px;
  padding-right: 5px;
  border-width: 0;
  box-shadow: rgba(45, 35, 66, 0.2) 0 2px 4px, rgba(45, 35, 66, 0.15) 0 7px 13px -3px, #D6D6E7 0 -3px 0 inset;
  box-sizing: border-box;
  color: #36395A;
  cursor: pointer;
  display: inline-flex;
  /* font-family: "JetBrains Mono", monospace; */
  height: 48px;
  justify-content: center;
  line-height: 1;
  list-style: none;
  padding-left: 20px;
  padding-right: 20px;
  position: relative;
  text-align: left;
  text-decoration: none;
  transition: box-shadow .15s, transform .15s;
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
  white-space: nowrap;
  will-change: box-shadow, transform;
  font-size: smaller;
  margin-right: 15px;
  max-width: 70vw;
  overflow: auto; /* Add scrollbars if content exceeds the height */
  word-wrap: break-word; /* Enable word wrap for longer buttons */
  white-space: normal; /* Allow wrapping within the button */
}

.option:focus {
  box-shadow: #D6D6E7 0 0 0 1.5px inset, rgba(45, 35, 66, 0.4) 0 2px 4px, rgba(45, 35, 66, 0.3) 0 7px 13px -3px, #D6D6E7 0 -3px 0 inset;
}

.option:hover {
  box-shadow: rgba(45, 35, 66, 0.3) 0 4px 8px, rgba(45, 35, 66, 0.2) 0 7px 13px -3px, #D6D6E7 0 -3px 0 inset;
  transform: translateY(-2px);
}

.option:active {
  box-shadow: #D6D6E7 0 3px 7px inset;
  transform: translateY(2px);
}

.fade-out {
  opacity: 0;
  transition: opacity 0.5s ease;
}

app-loader {
  margin-top: 20px
}

.typing-indicator-container {
  display: inline-block;
  background-color: #e1ffc7;
  border-radius: 16px;
  padding: 8px 16px;
  margin-bottom: 15px;
  left: 15px;
  position: absolute;
  bottom: 0;
}

.typing-indicator {
  display: flex;
  align-items: center;
}

.typing-text {
  margin-right: 10px;
  font-size: smaller;
}

.dot {
  width: 5px;
  height: 5px;
  border-radius: 50%;
  background-color: black;
  margin-right: 4px;
  opacity: 0.4;
  transform: scale(1);
  animation: typing-dot 1.2s infinite;
  margin-top: 10px;
}

.dot-1 {
  animation-delay: 0s;
}

.dot-2 {
  animation-delay: 0.4s;
}

.dot-3 {
  animation-delay: 0.8s;
}

@keyframes typing-dot {

  0%,
  100% {
    opacity: 0.4;
    transform: scale(1);
  }

  50% {
    opacity: 1;
    transform: scale(1.3);
  }
}

::-webkit-scrollbar {
  width: 8px; 
}

::-webkit-scrollbar-track {
  background-color: #f1f1f1; 
}

::-webkit-scrollbar-thumb {
  background-color: #888;
  border-radius: 4px; 
}

* {
  scrollbar-color: #888 #f1f1f1;
  scrollbar-width: thin;
}

div.message ul {
  margin-left: 20px;
}

.switch-container {
  color:  white
}

switch-component {
  margin-bottom: 20px;
  margin-top: 10px;
}


/* .message-box {
  background-color: #333;
  border: 2px solid #fff;
  border-radius: 10px;
  padding: 10px;
  max-width: 400px;
  display: flex;
  font-family: 'Arial', sans-serif;
  max-width: 70%;
} */


.message-game {
  background-color: #333;
  /* border: 2px solid #fff; */
  border-radius: 10px;
  /* padding: 10px; */
  max-width: 400px;
  display: flex;
}

.message-game .character-info {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-right: 10px; 
}

.message-game .character-icon {
  width: 40px;
  height: 40px;
  /* border: 2px solid #fff; */
  border-radius: 50%;
}

.message-game .character-name {
  margin: 5px 0;
  font-size: 10px;
  color: #fff;
}

.message-game .character-saying {
  flex: 1; 
  display: flex;
  flex-direction: column;
  justify-content: center; 
  text-align: left;
}

.message-game .message-text {
  margin: 0;
  color: #fff;
}

.game .message {
  background-color: #333;
}
