<div class="chat-container" >
    <div class="chat-messages" #chatContainer>
        <div *ngFor="let item of chatMessages" class="message" [class.left]="item.side === 'L'" [class.right]="item.side === 'R'">
          {{ item.message }}
        </div>

        <ng-container #typingAnimation *ngIf="loading">
          <div class="typing-indicator-container">
            <div class="typing-indicator">
              <span class="typing-text">Typing </span>
              <span class="dot dot-1"></span>
              <span class="dot dot-2"></span>
              <span class="dot dot-3"></span>
            </div>
          </div>
        </ng-container>
        
      </div>
      
      <div class="chat-options">  

        <ng-container *ngFor="let item of chatOptions; index as i">
          <button
            (click)="sendMessage(item, i)"
            [class.fade-out]="item.fade"
            *ngIf="item.show"
            class="option"
          >
            {{ item.option }}
          </button>
        </ng-container>
      </div>

      <!-- <app-loader *ngIf="loading"></app-loader> -->
      
</div>
  