  .chat-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 20px;
    font-family: "Montserrat", sans-serif; /* Replace "Montserrat" with your chosen font */
  }

  .chat-messages, .message, .option {
    font-family: "Montserrat", sans-serif;
  }

  .chat-messages {
    background-color: rgba(255, 255, 255, 0.6);
    border-radius: 16px;
    padding: 16px;
    overflow-y: auto;
    height: 350px;
    width: 20%;
    margin-bottom: 20px;
  }
  
  .message {
    background-color: #e1ffc7;
    border-radius: 16px;
    color: #333;
    padding: 8px 16px;
    margin-bottom: 8px;
    display: block; 
    /* max-width: 50%; */
    word-wrap: break-word;
    clear: both; 
  }
  
  .message.left {
    background-color: #eeeeee;
    text-align: left;
    float: left; 
  }
  
  .message.right {
    background-color: #e1ffc7;
    margin-bottom: 5px;
    text-align: right;
    float: right; 
  }
  
  .chat-options {
    display: flex;
  }

  .option {
    background-color: #EDEFF1;
    border-radius: 16px;
    color: #333;
    padding: 8px 16px;
    margin-bottom: 8px;
    display: inline-block;
    max-width: 75%;
  }

  .option:hover {
    background-color: #45a049;
  }

  .animate-message {
    opacity: 0;
    transform: translateY(-20px);
    transition: opacity 500ms, transform 500ms;
  }
  
  .animate-message.animate {
    opacity: 1;
    transform: translateY(0);
  }
  