<div class="chat-container" >
    <div class="chat-messages" #chatContainer>
        <div *ngFor="let item of chatMessages" class="message" [class.left]="item.side === 'L'" [class.right]="item.side === 'R'">
          {{ item.message }}
        </div>
        
      </div>
      
      <div class="chat-options">
        <button
          *ngFor="let item of chatOptions; index as i"
          (click)="sendMessage(item, i)"
          class="option"
        >
          {{ item.option }}
        </button>
      </div>
      
</div>
  