<div class="chat-container" >
      <div class="chat-messages" #chatContainer *ngIf="!isCannonVisible">
        <div *ngFor="let item of chatMessages" class="message" [class.left]="item.side === 'L'" [class.right]="item.side === 'R'">
          <span [innerHTML]="item.message"></span>
        </div>

        <ng-container #typingAnimation *ngIf="loading">
          <div class="typing-indicator-container">
            <div class="typing-indicator">
              <span class="typing-text">Typing </span>
              <span class="dot dot-1"></span>
              <span class="dot dot-2"></span>
              <span class="dot dot-3"></span>
            </div>
          </div>
        </ng-container>
        
      </div>

      <div *ngIf="isCannonVisible">
        <cannon-component></cannon-component>
      </div>
      
      <div class="chat-options">  

        <ng-container *ngFor="let item of chatOptions; index as i">
          <button
            (click)="sendMessage(item, i)"
            [attr.disabled]="item.fade"
            [class.fade-out]="item.fade"
            *ngIf="item.show"
            class="option"
          >
            {{item.option}}
          </button>
        </ng-container>

        <button 
          *ngIf="showCannonBtn" 
          (click)="showCannon()"
          class="option">
          Show some magic
        </button>
      </div>
</div>
